*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
body {
  padding: 0;
  margin: 0;
  font-family: sans-serif;
  overflow-x: hidden;
  background-color: rgb(42, 62, 69);
}
.nav-bar {
  width: 100%;
  display: flex;
  height: 7rem;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.315);
  margin-bottom: auto;
}
.container {
  width: 110rem;
  padding: 4rem;
}
.nav__word {
  color: white;
  font-weight: 800;
  font-size: 2.5rem;
  margin-left: 3rem;
  margin-right: auto;
  display: block;
  cursor: pointer;
  text-decoration: none;
}
.nav-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 3rem;
  width: 100%;
  height: 100%;
}
.logo-container {
  width: 7rem;
  height: 7rem;
  display: block;
  cursor: pointer;
}
.logo {
  width: 100%;
  height: 100%;
}
.menu-item {
  margin: 2rem;
  color: #fff;
  text-decoration: none;
}
.menu-left {
  display: flex;
  flex-direction: row;
  font-size: 2.5rem;
  color: #fff;
  text-transform: uppercase;
  margin-right: 2rem;
}
.menu-control {
  font-size: 5rem;
  color: #fff;
}
.close {
  color: red;
  content: "x";
}
.active {
  position: fixed;
  left: 0 !important;
}
.menu-button {
  width: 5rem;
  height: 5rem;
  fill: #fff;
  position: absolute;
  top: 0;
  right: -100px;
}
.article {
  display: flex;
  flex-direction: row;
}
.article {
  display: flex;
  flex-direction: row;
}
.article:not(:last-child) {
  margin-bottom: 5rem;
}
.article-container {
  margin: 0 auto;
  width: 100rem;
}
.article-image {
  height: 30rem;
  position: relative;
}
.article-content {
  padding: 0 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.article-title {
  font-size: 2.5rem;
  position: relative;
  align-items: center;
  padding-left: 10px;
  color: rgb(179, 181, 180);
}
.article-title::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 5px;
  background-color: rgb(47, 157, 216);
}
.article-info {
  font-size: 2rem;
  display: flex;
  align-items: center;
}
.article-date {
  color: white;
}
.article-view {
  color: rgb(43, 186, 230);
  text-decoration: none;
  font-size: 1.75rem;
  background-color: rgb(227, 231, 232);
  padding: 1rem 1.5rem;
  border-radius: 50px;
  margin-right: 6rem;
  align-items: center;
}
#view-gerd {
  margin-right: 2rem;
}
.icon-view {
  width: 20px;
  height: 20px;
  margin: 0 0 0 15px;
}
.icon-view-sm {
  width: 20px;
  height: 20px;
  margin: 0 0 0 15px;
  position: absolute;
  left: -30rem;
}
.article-paragraph {
  color: white;
  width: 85%;
  font-size: 1.9rem;
}
#pakandind {
  justify-content: space-between;
}
#ethodam {
  justify-content: space-between;
}
/*Media Query*/
@media only screen and (max-width: 1000px) {
  html {
    font-size: 50%;
  }
}
@media only screen and (max-width: 800px) {
  .menu-button {
    position: absolute;
    right: 25px;
    top: 6px;
  }
  .menu-left {
    flex-direction: column;
    height: 100vh;
    position: fixed;
    z-index: 1000;
    top: 0;
    left: -50rem;
    background-color: #000;
    width: 17.5rem;
  }
  .article {
    flex-direction: column;
    align-items: center;
  }
  .icon-view {
    margin-right: 0;
  }
  .article-info {
    justify-content: space-around;
  }
  .article-date {
    margin-right: 1.5rem;
  }
  .article-paragraph {
    margin: 3rem 0;
  }
  .article-title {
    margin-top: 1.5rem;
  }
  .article-info {
    justify-content: center;
  }
}
@media only screen and (max-width: 650px) {
  .container {
    width: 100%;
  }
}
@media only screen and (max-width: 500px) {
  #gerdphoto {
    height: 20rem;
  }
  #egandeth {
    height: 28rem;
  }
}
@media only screen and (max-width: 450px) {
  .article-view {
    position: fixed;
    left: -40rem;
  }
  .icon-view-sm {
    left: 50px;
  }
}
@media only screen and (max-width: 350px) {
  .menu-button {
    right: 3px;
  }
  #gerdphoto {
    height: 15rem;
  }
  #egandeth {
    height: 20rem;
  }
  #egdam {
    height: 24rem;
  }
}
@media only screen and (max-width: 250px) {
  .nav__word {
    position: fixed;
    right: -30rem;
  }
}
